@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,700,700italic,300);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
menu, article, section, nav, footer, figure, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight:normal;
    font-family:'Open Sans';
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display:block;
}
body{
   font-family: 'Open Sans', sans-serif;
}

ol, ul, menu{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

:focus{
    outline: 0;
}

ins{
    text-decoration: none;
}

del{
    text-decoration: line-through;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
html{
    overflow-y: scroll;
    font-size: 100.01%;
	font-family: 'Open Sans', sans-serif;
}
body {
	background: #fff;
}
b, strong{
    font-weight:bold;
}
button:hover{
    cursor:pointer;
}
a{
    text-decoration:underline;
}
a:hover{
    text-decoration:none;
}
var{
    font-style:normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Semibold';
	src: url('fonts/open-sans-semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Extrabold';
	src: url('fonts/open-sans-extrabold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/*
 * GLOBAL
 */

.g-wrap_content{
    margin: 0 auto;
    width: 100%;
	max-width: 982.5px;
    padding:0 15px 0 15px;
    float: none!important;
}
/*
=================================================================
Header
=================================================================
*/


.b-header_content {
	margin-top: 40px;
}

.b-header_content header {
	font-size: 60px;
	color: #1946ba;
	text-transform: uppercase;
	line-height: 65px;
	max-width: 478px;
    font-weight: bold;
}

.b-header_content header span {
	font-weight: normal;
	color: #00b3e3;
}
.b-header_content_list{
    list-style-position: inside;
    font-family: 'Open Sans Semibold';
}
.b-header_content_list li{
    padding-top:16.7px;
    font-size: 18px;
    list-style-type: disc;
    font-family: 'Open Sans Semibold';

}
.b-header_content_list li:last-child{
    padding-bottom:16.7px;
}
/*
=================================================================
END Header
=================================================================
*/

/*
=================================================================
new_care
=================================================================
*/
.b-new_care {
    margin-top: 35px;
}
.b-new_care_left {
    line-height:1.5;
    font-size:16px;
    width:50%;
    float: left;
}
.b-new_care_left span{
    font-family:'Open Sans Extrabold';
    font-size: 20px;
}
.b-new_care_right{
    width: 50%;
    float: left;
}
.b-new_care-right img{
    width:100%;
    max-width: 415px;
    padding-top: 20px;
}
/*
=================================================================
END new_care
=================================================================
*/
/*
=================================================================
FAULT
=================================================================
*/
.b-fault header{
    font-family: 'Open Sans';
    font-size:35px;
    color:#fff;
    text-align:center;
    padding: 35px 6%;
    margin: 50px 0;
    background: #dd2c00;
    font-family:'Open Sans Semibold';
    line-height: 1.1;
}
.b-fault header span{
    font-family:'Open Sans Extrabold';
}
.b-fault_content{
    font-size: 16px;
    line-height:1.6;
    padding-top: 10px;
}
.b-fault_content img{
    margin: auto;
    width:80%;
    display: block;
    padding:15px 0 40px;
}

/*
=================================================================
END FAULT
=================================================================
*/

/*
=================================================================
AGING
=================================================================
*/
.b-aging {
	background: url('images/woman-age-60-70.png') left -10% bottom no-repeat #eaf0f2;
	float: left;
	width: 100%;
	min-height: 520px;
    margin-top:60px;
}
.b-aging article {
	max-width: 427px;
	float: right;
	margin: 51px 6% 0 0;
}
.b-aging h2 {
    font-family: 'Open Sans Extrabold';
	font-size: 35px;
    font-weight:600;
    line-height: 43px;
    margin: 0 0 10px;
}
.b-aging p {
	font-size: 16px;
    line-height: 27px;
	margin: 0 0 26px;
}
/*
=================================================================
END AGING
=================================================================
*/

/*
=================================================================
ballon
=================================================================
*/
.b-ballon{
    margin-top: 90px;
}
.b-ballon header p{
    font-family: 'Open Sans Extrabold';
    width:50%;
    float: left;
    font-size: 45px;
    font-weight: 600;
}
.b-ballon .img{
    width:50%;
    float: left;
    margin-top: -90px;
}
.b-ballon .img img{
    width:100%;
}
.b-ballon_content{
    font-size: 16px;
    line-height: 1.6;
    width:100%;
}

/*
=================================================================
End Ballon
=================================================================
*/

/*
=================================================================
no-secret
=================================================================
*/
.b-no_secret{
    margin-top:60px;
}
.b-no_secret_header_left {
	float: left;
    font-size:60px;
    font-family:'Open Sans Extrabold';
    font-weight:600;
    color: #1946ba;
    width:25%;
    margin-right:5%;
    line-height: 1!important;
}
.b-no_secret_header_right {
    font-family:'Open Sans';
	font-size:22px;
    color: #1946ba;
    width:70%;
    float:left;
    line-height:1.4;
    float:right!important;
}
.b-no_secret_header_right span{
    font-family:'Open Sans Extrabold';
}
.b-no_secret_content{
    margin-top: 30px;
}
.b-no_secret_content_left{
	font-size: 16px;
    width:65%;
    float: left;
    line-height: 1.4;
}
.b-no_secret_content_right{
    width:30%;
    float: right;
    height: 150px;
}
.b-no_secret_content_right img{
    width:80%;
}
/*
=================================================================
End no-secret
=================================================================
*/

/*
=================================================================
two_attempts
=================================================================
*/
.b-two_attempts{
    margin-top:40px;
}
.b-two_attempts_title {
    font-size: 22px;
    font-weight: 900;
    color: #1946ba;
    width:80%;
    line-height:1.4;
    font-family:'Open Sans';
}
.b-two_attempts_injections{
    margin-top: 35px;
    margin-bottom: 15px;
    overflow:hidden;
}
.b-two_attempts_injections_left, .b-two_attempts_creams_left {
    float: left;
    width:30%;
}
.b-two_attempts_injections_right, .b-two_attempts_creams_right{
    font-family: 'Open Sans';
    float: left;
    width:70%;
}
.b-two_attempts_injections_right_title, .b-two_attempts_creams_right_title{
    font-size:22px;
    font-weight:600;
    padding: 15px 0;
}
.b-two_attempts_injections_right_content, .b-two_attempts_creams_right_content{
    font-size: 16px;
    line-height:1.6;
}
/*
=================================================================
End two_attempts
=================================================================
*/
/*
=================================================================
nectar7
=================================================================
*/
.b-nectar7{
    padding: 40px 6%;
}
.b-nectar7_left{
    float: left;
    width:60%;
}
.b-nectar7_left_first{
    font-size: 24px;
    line-height:1.4;
    padding: 0 0 20px 0;
}
.b-nectar7_left_first span{
    font-family: 'Open Sans Extrabold';
    color: #1946ba;
}
.b-nectar7_left_sec{
    color: #1946ba;
    font-size:24px;
    line-height:1.4;
}
.b-nectar7_left_sec span{
    font-family: 'Open Sans Extrabold';
    font-size:18px;
}
.b-nectar7_right{
    float: right;
    width: 37%;
}
.b-nectar7_descrip{
    margin-top:10px;
    line-height: 1.4;
}
.b-nectar7_descrip_title{
    font-size: 24px;
    font-family: 'Open Sans Extrabold';
    padding: 40px 0 0 0;
}
.b-nectar7_descrip_content{
    font-size: 16px;
}
/*
=================================================================
End nectar
=================================================================
*/
/*
=================================================================
ingredient
=================================================================
*/
.b-ingredient {
	background: url('images/woman.png') right -50% top no-repeat #eaf0f2;
	float: right;
	width: 100%;
	min-height: 520px;
    margin-top:60px;
    padding: 0 6%;
}
.b-ingredient article {
	max-width: 557px;
	float: left;
	margin: 51px 6% 0 0;
}
.b-ingredient h2 {
    font-family: 'Open Sans Extrabold';
	font-size: 35px;
    line-height: 43px;
    margin: 0 0 10px;
    color: #1946ba;
}
.b-ingredient ol {
	font-size: 16px;
    line-height: 27px;
	margin: 0 0 26px;
    list-style-type: decimal;
    list-style-position: inside;
    font-family: 'Open Sans Extrbold';
}
.b-ingredient ol li{
	margin: 0 0 26px;
    font-family: 'Open Sans Extrabold';
}
/*
=================================================================
Nad
=================================================================
*/
.b-nad {
    margin-top: 60px;
}
.b-nad_depend h3{
    font-size: 35px;
    font-family: 'Open Sans Extrabold';
    color: #1946ba;
    margin-bottom: 20px;
}
.b-nad_depend p{
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 1.6;
}
.b-nad_graf {
	margin-bottom: 15px;
}

.b-nad_graf p {
	position: absolute;
	width: 240px;
	font-size: 32px;
	font-weight: bold;
	top: 0px;
	left: 44%;
}
/*
=================================================================
end Nad
=================================================================
*/
/*
=================================================================
disf
=================================================================
*/
.b-nad_disf {
    padding: 0 0 0 6%;
    overflow: hidden;
}
.b-nad_disf .c-nad_left {
	margin: 37px 0 0 0;
    width: 60%;
    float: left;
}

.b-nad_disf p b {
	color: #1946ba;
    font-size: 26px;
    line-height: 1.4;
}
.b-nad_disf ul {
	margin: 23px 0 25px ;
}
.b-nad_disf ul li {
	font-size: 16px;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0 0 8px;
    padding: 0;
}

.c-nad_left_last{
    font-weight:600;
    font-size: 22px;
    line-height: 1.4;
}

/*
=================================================================
 end nad_disf
=================================================================
*/
/*
=================================================================
nad blue
=================================================================
*/
.b-nad_blue {
	float: left;
	width: 100%;
	background: #111e90;
	padding: 45px 10%;
}
.b-nad_blue p {
	color: #ffffff;
    font-size: 35px;
    line-height: 1.4;

    font-weight: 300 !important;
}
.b-nad_blue p span{
    font-family:'Open Sans Extrabold';
}
/*
=================================================================
End Nad blue
=================================================================
*/
/*
=================================================================
Doctor
=================================================================
*/
.b-doctor{
    padding: 0 6% 50px;
    font-size:16px;
    line-height:1.6;
    border-right: 2px solid #06a3cd;
    border-left: 2px solid #06a3cd;
}
.b-doctor p{
    padding-top: 40px;
}
.b-doctor h2{
    font-size: 35px;
    font-family: 'Open Sans Extrabold';
    padding: 50px 0 0 0;
}
.b-doctor_blue{
    margin: 30px 0 0 0;
    background: url('images/white_arrow.png') 15px -14px #111e90 no-repeat;
}
.b-doctor_blue ul{
    margin: 30px 0 0 0;
    padding: 45px;
    color:#fff;
    font-size: 16px;
    line-height:1.6;
    list-style-type: disc;
}
.b-doctor_blue ul li{
    padding-left:15px;
}
/*
=================================================================
press release
=================================================================
*/
.b-press_release{
    border: 2px solid #06a3cd;
    padding:40px 6% 75px;
    background: #e1f3fc;
}
.b-press_release h2{
    width: 70%;
    font-size: 35px;
    font-family:'Open Sans Extrabold';
    padding-bottom:30px;
}
.b-press_release p{
    font-size:16px;
    line-height:1.6;
}

/*
=================================================================
miss
=================================================================
*/
.b-miss{
    padding: 60px 6% 0;
    width:80%;
}
.b-miss_img{
    width:100%;
}
.b-miss_img img{
    width:100%;
}
.b-miss h2{
    font-size:35px;
    line-height:1.4;
    padding:  0 0 20px 0;
    font-weight: 300;
}
.b-miss h2 span{
    font-family:'Open Sans Extrabold';
}
.b-miss p{
    font-size:16px;
    line-height:1.6;
}
.b-miss .b-miss_title{
    font-size: 22px;
    line-height:1.6;
	color: #1424a6;
    font-weight:600;
}
.b-miss_list{
    padding-left: 15px;
}
.b-miss_img{
    padding: 0 6%;
    width:100%;
    margin-top:60px;
    margin-bottom: 60px;
}

/*
=================================================================
b-try
=================================================================
*/
.b-try{
    width:100%;
}
.b-try h2{
    font-size: 35px;
    margin-bottom: 20px;
    line-height:1.4;
}
.b-try h2 span{
    font-family:'Open Sans Extrabold';
}
.b-try p{
    font-size:16px;
    line-height:1.6;
}
.b-try p span{
    font-weight:600;
}
.b-story{
    padding-top:40px;
}
.b-story_blue{
    background: url(images/wiman_blue.jpg) right center no-repeat  #1946ba;
    background-size: contain;
    padding:10px;
    margin: 30px 0 30px 0;
    overflow: hidden;
}
.b-story_blue_left{
    float: left;
    width:60%;
}
.b-story_blue_left p{
    font-size:35px;
    font-family:'Open Sans Extrabold';
    color:#fff;
    padding-bottom: 30px;
    line-height: 1.4;
}
.b-story_blue_left p span{
    font-size:22px;
    font-family:'Open Sans';
    font-style: italic;
    color:#fff;
    display: inline-block;
    padding: 10px 0 20px;

}
.b-story_blue_right{
    float: right;
    display:none;
}
.b{
    font-size:16px;
    line-height:1.6;
}
/*
=================================================================
End b-story
=================================================================
*/


/*
=================================================================
inst
=================================================================
*/

.b-inst table tbody tr td:last-child {
    width: 30%;
}
/*
=================================================================
END inst
=================================================================
*//*
=================================================================
money back
=================================================================
*/

.b-money_back {
	width: 100%;
	margin: 33px 0 0 0;

}

.b-money_back_right {
	float: left;
    margin: 18px 0 0;
    width: 75%;
	font-size: 35px;
    line-height:1.4;
    color: #1946ba !important;
}
.b-money_back_right b{
    font-size: 'Open Sans Extrabold';
}

/*
=================================================================
Young
=================================================================
*/
.b-young {
	/*background: url('images/younth_bg.png') right center no-repeat;*/
  background: url('images/group-22.png') right center no-repeat;
}
.b-young article h2 {
    font-size: 22px;
    line-height:1.4;
    font-family:'Open Sans Extrabold';
}
.b-young article h3 {
	font-weight: bold;
	font-size: 16px;
    line-height: 1.6;
    margin: 20px 0 10px;
}
.b-young article p {
	font-weight: normal;
	font-size: 16px;
    line-height: 1.6;
    margin: 20px 0 10px;
}
.b-young_last {
	font-weight: normal;
	font-size: 16px;
    line-height: 1.6;
    margin: 20px 0 10px;
    padding: 0 6%;
}


/*
=================================================================
Order
=================================================================
*/
.b-order_1, .b-order_2, .b-order_3{
    float:left;
    width:33.33%;
    text-align:center;
    padding: 35px 40px 50px 40px;
    height:auto;
    border: 4px solid transparent;
}

.b-order_1:hover, .b-order_2:hover, .b-order_3:hover{
    border: 4px solid #dd291c;
}
.b-order h2{
    font-family: 'Myriad Pro';
    font-size: 28px;
    font-weight:600;

}
.b-order h2 span{
    font-size: 18px;
    font-weight:600;
}
.b-order_img{
    max-height:225px;
    height:225px;
    max-width:100%;
    width:100%;
}
.b-order_3 .b-order_img {
    height:160px;
}
.b-order_img img{

}
.b-order_1 .b-order_img img{
    width:auto;
}.b-order_2 .b-order_img img{
    width:100%;
}.b-order_3 .b-order_img img{
    width:100%;
}
.b-order_1 .b-order_img{
    margin: 30px 0 27px 0;
}
.b-order_2 .b-order_img{
    margin: 30px 0 26px 0;
}
.b-order_3 .b-order_img{
    margin: 76px 0 44px 0;
}
.b-order .price{
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom:40px;
}
.b-order .last{
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.b-order .now{
    font-size: 16px;
    padding-bottom: 15px;
    color:red;
    font-weight:600;
}
.b-order .your_save{
    font-size: 16px;
    padding-bottom: 15px;
    font-weight:600;
}
.b-order_btn{
    margin:0 auto;
    margin-bottom:25px;
}
.b-order_btn a{
    background: #00b3e3;
    text-decoration: none;
    color:#fff;
    border-radius: 7px;
    padding: 12px 20%;
}
.b-order_btn a:hover{
    border: 1px solid #00b3e3;
    background: #fff;
    color: #00b3e3
}
/*
=================================================================
light_blue
=================================================================
*/
.b-light_blue{
    background:#06a3cd;
    color:#fff;
    padding: 63px 6% 72px;
    overflow:hidden;
    font-famile: 'Myriad Pro';
}
.b-light_blue h2{
    font-size:28px;
    margin-bottom: 10.5px !important;
    margin-top: 21px !important;
    color: #fff !important;
}
.b-light_blue h3{
    color: #fff;
    font-size: 18px !important;
    font-weight: 300 !important;
    line-height: 1.1;
    margin-bottom: 36px;
    margin-top: 21px !important;
}
.b-light_blue h3 span{
    font-style: italic;
}
.b-light_blue_left{
    width:45%;
    background: #fff;
    border: 3px solid #000;
    border-radius: 7px;
    color: #000;
    float:left;
    padding: 27px 24px 36px;
}

.b-light_blue_left header{
    font-size: 22px;
    font-weight: 600;
    border-bottom: 5px solid #000;
    padding-bottom: 8px;
    font-family: "Open Sans";
}
.b-light_blue_left .f_line{
    font-size: 16px;
    line-height: 30px;
}
.b-light_blue_left .f_line span{
    font-weight: 600;
}
.b-light_blue_left .s_line{
    font-size: 16px;
    padding:7px 0;
    border-top: 1px solid #000;
 }
.b-light_blue_left .t_line{
    font-size: 16px;
    padding-top:10px;
    border-top: 5px solid #000;
 }

.b-light_blue_left .f_line{
    font-size: 16px;
    padding-top:36px;
    font-weight:600;
 }

.b-light_blue_left footer{
    font-size: 16px;
    padding-top:16px;
 }

.b-light_blue_right{
    width:45%;
    float: right;
}

.b-light_blue_right header{
    padding:27px 0 16px;
    font-size: 22px;
    font-weight:600;
    background: none!important;
    font-family: "Open Sans";
}
p {
  margin: 0 0 10px !important;
}
.b-light_blue_right .f_line{
    font-size: 16px;
    line-height: 20px;
}
.b-light_blue_right .s_line{
    font-size: 16px;
    font-weight:600;
    line-height: 24px;
}
.b-light_blue_right .t_line{
    font-size: 14px;
    line-height: 20px;
}

.l-base_styles h2 {
	font-size: 35px;
    line-height: 1.2;
}

.l-base_styles p {
	font-size: 16px;
    line-height: 1.6;
}

.research{
    color: #06a3cd;
    font-size:22px;
    display: inline-block;
    margin: 27px 0 20px 30px;
}
.research i{
    color: #bdbbbe;
    font-size:16px;
}
.img-responsive{
     margin:auto;
}
@media (max-width: 1080px) {
    .b-ingredient {
        background: url('../images/woman.png') right -80% top no-repeat #eaf0f2;
    }
    .b-story_blue p{
        font-size: 30px
    }

}
@media (max-width: 978px) {
    .b-no_secret_header_left{
        width:30%;
        margin-right:1%;
    }
    .b-no_secret_header_right{
        width:68%;
        font-size:20px;
    }
}
@media (max-width: 950px) {
    /*
	 * new_care
	 */
    .b-new_care_left {
        line-height:1.4;
        font-size:18px;
        width:60%;
        float: left;
    }
    .b-new_care_right{
        width: 35%;
    }
    .b-new_care_right img{
        width: 100%;
    }
    /*
	 * Dark
	 */
	.b-dark_content {
		width: 60%;
		margin: 0px;
		padding: 15px;
	}
    /*
    *aging
    */

    .b-aging {
        background: url('../images/woman-age-60-70.png') left -15% bottom no-repeat #eaf0f2;
    }
    .b-aging article {
        margin: 51px 3% 0 0;
    }

    .b-order_1, .b-order_2, .b-order_3{
        float:none;
        width:100%;
        margin: auto;
        padding: 15px 15px 20px 15px;
        border:none;
    }
    .b-order_1:hover, .b-order_2:hover, .b-order_3:hover{
        border:none;
    }
    .b-order_1{
        height:330px;
    }
    .b-order_2{
        height:360px;
    }
    .b-order_3{
        height:330px;

    }
    .b-order_img{
        max-width:40%;
        width:40%;
        float:left;
    }
    .b-order .right{
        width:50%;
        float:left;
    }
    .b-order_3 .b-order_img {
        height:160px;
    }
    .b-order_img img{
        width:100%;
    }
    .b-order_3 .b-order_img img{
        width:100%;
    }
    .b-order_1 .b-order_img{
        margin: 10px 0 27px 0;
    }
    .b-order_2 .b-order_img{
        margin: 30px 0 26px 0;
    }
    .b-order_3 .b-order_img{
        margin: 76px 0 44px 0;
    }
    .b-order .price{
        border-top: none;
        border-bottom: none;
        margin-bottom:40px;
        float:none;
    }
    .b-order_btn{
        margin: 0 auto 20px;
        margin-bottom:25px;
        float:none;
    }
    .b-order_pay{
        float:none;
    }
}
@media (max-width: 900px){
	/*
	* Layouts
	*/
	.l-background_img {
		display: block;
	}
	.l-no_bg_image {
		background-image: none;
	}
	.l-no_bg_image article {
		margin: 0px;
		padding: 15px;
		max-width: 100%;
		float: left;
		width: 100%;
	}
	.l-base_styles {
		padding: 15px;
	}
	/*
	* Header
	*/

	.b-logo {
		text-align: center;
	}
	.b-logo, .b-header_content {
		margin-left: 0px;
		padding: 0 15px;
	}

	.b-header_content header, .b-header_content p {
		max-width: 100%;
	}
	.b-header .l-background_img {
		display: block;
	}
	.b-header_heart {
		position: relative;
		display: block;
		margin: 23px 0 -260px 23px;
		float: left;
		left: auto;
		bottom: auto;
	}
    /*
	 * new_care
	 */
    .b-new_care_left {
        font-size:16px;
        width:50%;
    }
    .b-new_care_right{
        width: 50%;
        padding:3%
    }
    /*
	 * fault
	 */

    .b-fault header{
        font-size:30px;
        padding: 20px 3% ;
        margin: 30px 0;
    }
    .b-fault_content{
        font-size: 16px;
        line-height:1.4;
    }
    .b-fault_content img{
        width:100%;
    }
    /*
    *ballon
    */

    .b-ballon{
        margin-top: 90px;
    }
    .b-ballon header p{
        width:45%;
        font-size:45px;
    }
    .b-ballon_content{
        font-size: 16px;
        line-height: 1.4;
    }
    /*
    *no_secret
    */
    .b-no_secret{
        margin-top:60px;
    }
    .b-no_secret_header_left {
        font-size:55px;
        width:30%;
        margin-right:3%
    }
    .b-no_secret_header_right {
        font-size:20px;
        color: #1946ba;
        width:65%;
        float:left;
        line-height:1.4;
    }
    .b-no_secret_content{
        margin-top: 30px;
    }
    .b-no_secret_content_left{
        font-size: 16px;
        width:70%;
    }
    .b-no_secret_content_right{
        width:30%;
    }
    .b-two_attempts{
    }
    .b-two_attempts_injections_left, .b-two_attempts_creams_left {
        width: 25%;
        margin-right:1%;
    }
    .b-two_attempts_injections_left img, .b-two_attempts_creams_left img{
        width:100%;
    }
    .b-two_attempts_injections_right, .b-two_attempts_creams_right{
        width:74%;
    }
    .b-two_attempts_injections_right_content, .b-two_attempts_creams_right_content{
        font-size: 14px;
    }
    .b-nectar7{
        padding: 40px 3%;
    }
    .b-nectar7_left{
        width:55%;
    }
    .b-nectar7_left_first{
        font-size: 22px
    }
    .b-nectar7_left_sec{
        font-size:22px;
    }
    .b-nectar7_right{
        width: 45%;
    }
    .b-ingredient {
        margin-top: 10px;
        padding:0;
    }
    .b-ingredient article{
        padding: 51px 3% 0 3%;
    }
    .b-nad{
        padding: 0 3%;
    }
    .b-nad_disf{
        padding: 0 0 0 3%;
    }
    .c-nad_left p b{
        font-size: 20px;
    }
    .c-nad_left_last{
        font-size:20px;
    }
    .l-nad_container{
        margin: 0 3%;
        padding: 0 3%;
        width:100%
    }
    .b-story_blue_left{
        width: 40%;
        font-size: 27px
    }
    .b-story_blue p{
        font-size: 27px
    }
    .b-inst{
        margin-top:15px;
    }
    .b-inst article{
        padding:15px
    }
    .b-inst h2 {
        font-size: 35px;
        text-align: center
    }
    .b-money_back_right {
        width: 75%;
    }
    .l-base_styles h2{
        font-size: 30px;
    }
    .b-money_back_left {
    width: 20%;
	font-size: 30px;

    }
    .b-money_back_left img {
    width: 100%;

    }

    .b-young_last {
        padding: 0 3%;
    }
}
@media (max-width: 805px) {
    /*
	 * ballon
	 */
    .b-ballon{
        margin-top:30px;
    }
    .b-ballon header p{
        width:100%;
        font-size:45px;
        text-align: center;
    }
    .b-ballon header .img{
        width:80%;
        margin:0 auto;
        float:none
    }
    .b-nad_blue {
	padding: 35px 5% 35px;
    }

    .b-miss{
        padding: 30px 3% 0;
        width: 100%;
    }
}
@media (max-width: 765px) {
    /*
	 * new_care
	 */
    .b-new_care_left {
        font-size:16px;
        width:100%;
    }
    .b-new_care_right{
        width: 80%;
        margin:0 auto;
        float:none;
    }
    .b-new_care_right img{
        width: 100%;
        margin-left:-50px;
    }
    .b-nectar7_left{
        width: 100%;
        float:none;
    }
    .b-nectar7_right{
        width: 50%;
        float:none;
        margin: 10px auto;
    }
    .b-nectar7_right img{
        width: 100%;
    }
    .b-nectar7_descrip_title{
        padding-top: 15px;
    }
    .b-story_blue{
        background: #1946ba;
    }
    .b-story_blue_left{
        width: 100%;
        font-size: 30px
    }
    .b-story_blue p{
        font-size: 27px
    }
    .b-story_blue_right{
        display: block;
        width:50%;
        margin: auto;
        float:none;
    }
    .b-story_blue_right img{
        width:100%;
    }
    .b-story{
        padding:40px 3%;
    }
}
@media (max-width: 716px) {
    .b-no_secret{
        margin-top:30px;
    }
    .b-no_secret br{
        display:none;
    }
    .b-no_secret_header_left {
        font-size:55px;
        width:100%;
        margin:0;
        float:none;
        text-align: center;
    }
    .b-no_secret_header_right {
        width:100%;
        float:none;
        text-align: center;
    }
    .b-no_secret_content{
        margin-top: 30px;
    }
    .b-no_secret_content_left{
        width:100%;
        clear:both;
        float: none;
    }
    .b-no_secret_content_right{
        width:60%;
        float:none;
        margin: 0 auto 10px;
        clear:both;
        height:auto;
    }
    .b-no_secret_content_right img{
        width:100%;
    }
    .b-doctor{
        padding: 10px 3% 20px;
    }
    .b-press_release{
        padding:30px 3% 30px;
    }
    .b-press_release h2{
        width: 100%;
    }
    .b-money_back_right {
    width: 100%;

    }
    .b-money_back_left {
        width: 40%;
        float:none;
        margin:0 auto;
    }
    .b-money_back_left img {
    width: 100%;

    }

}
@media (max-width: 700px) {

	.b-header_content header {
		font-size: 45px;
		line-height: 1.2;
	}
	.b-dark_content {
		width: 100%;
	}
	.b-dark {
		background-size: contain;
		background-position: bottom left;
		min-height: 550px;
	}
	.b-cells {
		background-size: cover;
	}
	.b-cells article {
		margin-left: 0px;
	}
    .b-nad_disf{
        margin-top:10px;
    }
	.b-nad_row_top .c-nad_left, .b-nad_row_top .c-nad_right, .b-nad_row_bottom .c-nad_left, .b-nad_row_bottom .c-nad_right, .b-nad_disf .c-nad_left, .b-nad_disf .c-nad_right {
		width: 100%;
		margin: 0 0 20px;
	}
	.b-nad_disf .c-nad_right {
		margin: 0px;
        min-height:300px
	}
	 .b-nad_graf p {
		position: relative;
		width: 100%;
		top: 0px;
		left: 0px;
		margin: 0 0 30px;
	}
    .b-nad_blue {
        padding: 25px 15px;
    }
    .b-nad_blue p {
        font-size: 30px;
    }
	.b-press_icons figure {
		width: 100%;
		margin: 0 0 10px;
	}
	.b-inst ul li {
		width: 49%;
	}
	.b-niagen_view blockquote {
		width: 100%;
	}
	.b-niagen_view .l-base_styles p {
		width: 100%;
	}
	.l-base_styles h2 {
		float: none;
	}
    .b-try h2{
        font-size:30px;
        line-height: 1.4;
    }
    .b-two_attempts_title{
        text-align:center;
        width:100%;
    }
    .b-two_attempts_injections_left, .b-two_attempts_creams_left {
        width: 50%;
        margin: auto;
        float:none;
    }
    .b-two_attempts_injections_right, .b-two_attempts_creams_right{
        width:100%;
        float:none;
    }
    .b-two_attempts_injections_right_content, .b-two_attempts_creams_right_content{
        font-size: 16px;
    }

    .b-doctor_blue ul {
        padding:25px 0 25px 25px;
    }
    .b-doctor_blue ul li{
        padding:5px;
    }
    .b-light_blue_left{
        float:none;
        width:100%;
     }

    .b-light_blue_right{
        width:100%;
        float: none;
    }
    .b-order_2{
        height:350px;
    }
}
@media (max-width: 550px) {
	.b-header_content header {
		font-size: 35px;
		line-height: 1.2;
	}
	.b-leg article h2 {
		font-size: 35px;
		line-height: 1.2;
	}
	.b-inst ul li {
		width: 100%;
	}
	.b-inst ul li img {
		max-width: 100%;
	}
	.l-base_styles h2 {
		width: 100%;
		float: left;
	}
	.b-bottle_solo .l-button {
		width: 100%;
		text-align: center;
	}

    .b-miss h2{
        font-size: 30px;
    }
    .b-story_blue_right{
        width:80%;
    }
    .b-inst article {
        width:96%;
        margin: 0 auto;
        padding:15px;
    }

    .b-inst h2 {
        font-size: 30px;
    }

    .b-inst table tbody td {
        font-size: 16px;
    }
    .b-money_back_left {
        width: 60%;
        float:none;
        margin:0 auto;
    }
}
@media (max-width: 450px) {
	.b-header_heart {
		margin: 20px auto 20px;
		float: none;
	}
    .b-nad_blue p {
        font-size: 25px;
        line-height: 1.4;
    }
    .b-nectar7_right{
        width: 100%;
    }

    .b-inst article {
        width:100%;
        margin: 0 auto;
        padding:15px;
        border:none;
    }
    .b-order_1, .b-order_2, .b-order_3{
        width: 100%;
        padding: 5px 40px 10px 40px;
    }

    .b-order_1{
        height:580px;
    }
    .b-order_2{
        height:600px;
    }
    .b-order_3{
        height:580px;

    }

    .b-order_img{
        max-height:225px;
        max-width:100%;
        width:100%;
    }
    .b-order_1 .b-order_img{
        margin:30px 0 36px 0;
    }
    .b-order_2 .b-order_img{
        margin:30px 0 56px 0;
    }

    .b-order_img img{
        width:auto;
    }
    .b-order_3 .b-order_img {
        height:auto;
    }
    .b-order_3 .b-order_img img{
        width:100%;
    }
    .b-order .price{
        width:100%;
        float:none;
        text-align: center;
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        margin-bottom:40px;
    }
    .b-order .right{
        width:100%;
        float:none;
    }
}

@media (max-width: 400px) {
    /*
	 * new_care
	 */
    .b-new_care_right{
        width: 100%;
    }    /*
	 * ballon
	 */
    .b-ballon{
        margin-top:30px;
    }
    .b-ballon header p{
        width:100%;
        font-size:45px;
        text-align: center;
    }
    .b-ballon header .img{
        width:80%;
        margin:0 auto;
        float:none;
    }
    .b-no_secret_content_right{
        width:80%;
    }

    .b-two_attempts_injections_left, .b-two_attempts_creams_left {
        width: 100%;
    }
    .b-story_blue_right{
        width:100%;
    }

    .b-order_2 .b-order_img img{
        width:100%;
    }
    .b-order_btn a{
        padding: 12px 10%;
    }
    .b-order_pay{
        float:none;
        width:100%;
    }
    .b-order_pay img{
        width:100%;
    }
    .b-order_1 .b-order_img{
        margin: 10px 0 10px 0;
    }
    .b-order_2 .b-order_img{
        margin: 30px 0 0px 0;
    }
    .b-order_3 .b-order_img{
        margin: 76px 0 10px 0;
    }
}
